<html>
    <head>
        <title>Create Account</title>
        <link rel="stylesheet" href="../static/css/login.css">
    </head>
    <body>
        <div id="content">
            <h1>Create Account</h1>
            <div id="loginCon">
                <form method="POST" action="/addusr">
                    <div class="container">
                        <label for="username"><b>Username:</b></label>
                        <input type="text" name="username" placeholder="Enter Username" required>

                        <label for="email"><b>Email:</b></label>
                        <input type="email" name="email" placeholder="Enter Email" required>
                        
                        <label for="password"><b>Password:</b></label>
                        <input type="password" name="password" placeholder="Enter Password" required>
                    </div>
                    <div class="container">
                        <input type="submit" value="Submit">
                    </div>
                    
                </form>
            </div>
        </div>
        
        
    </body>
</html>